/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFDAB9; 
}

header {
    background-image: url('https://assets-global.website-files.com/651c2bbd8c40de720b290d09/652ed0d2f0d2f3501cd33009_Profissionais-para-Obra.jpeg');
    background-size: cover;
    padding: 50px;
    text-align: center;
    color: orange; 
}

nav {
    background-color: orange; 
    color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    color: black; 
    text-decoration: none;
    margin: 0 10px;
}

.container {
    width: 100%; 
    padding: 0 20px;
}

.cta-button {
    background-color: #FFA500; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

footer {
    margin-top: 200px;
    background-color: orange;
    color: black;
    text-align: center;
    padding: 1px 0;
}



.services-carousel {
    margin-top: 50px;
}

.services-carousel .card {
    position: relative;
    overflow: hidden; 
}

.services-carousel .card-img-top {
    width: 100%;
    height: auto;
}

.services-carousel .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box; 
}

.services-carousel .card-title {
    margin-top: 0;
}

.services-carousel .card-text {
    margin-bottom: 0;
}

.services-carousel .slick-slide {
    margin: 0 10px;
}

.services-carousel .slick-prev,
.services-carousel .slick-next {
    font-size: 30px;
    color: black;
}

.services-carousel .slick-prev:hover,
.services-carousel .slick-next:hover {
    color: #FFA500;
}

.services-carousel .slick-dots {
    bottom: -25px;
}

.services-carousel .slick-dots li button {
    font-size: 10px;
}

.services-carousel .slick-dots li button:before {
    color: black;
}

.services-carousel .slick-dots li.slick-active button:before {
    color: #FFA500;
}
